body{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}
.logo-link{
    color: #2196F3;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.2;
}
.logo-header{
color: #000000;
}
.decorate-list a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 0.02em;
}
.decorate-list a:hover,
.decorate-list a:focus{
    color: #2196F3;
}
.contact-color a{
    color: #757575;
}
.section-color{
    background-color: #2F303A;
}
.title-test{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title-button{
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.invisble-text{
    display: none;
}
.title-list{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list-text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}
.title-two{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.visit-card h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.visit-card p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}
.color-last{
    background-color:#F5F5F5;
}

.button-list{
    background-color: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    display: inline-block
}
.button-list :hover,
.button-list :focus{
    background-color: #2196F3;
}
.text-photo a{
    text-decoration: none;
}
.text-photo h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.06em;
    color: #212121;
}
.text-photo p{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}
.logo-footer{
    color: #FFFFFF;
}
.footer-color{
    background-color: #2F303A;
}
.adress-style a{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.adress-link{
    color: #FFFFFF;
}
.adress-tell{
    color: rgba(255, 255, 255, 0.6);
}